@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset margins and paddings for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --default-color:white;
    --accent-color: #fd6d45;
    --base-color:#eef4f4;
    --text-color:#003049;
    --input-color: #ffebe6;
    --danger-color: #fd4545;
    --success-color: #5bfd45;
    --warning-color: #fdc345;

    --small-font-size: 0.8rem;
    --medium-font-size: 1.2rem;
    --large-font-size: 1.6rem;
}

html{
    font-family: Roboto Bold, Open Sans, Lato, Poppins;
    font-size: 12px;
    color: var(--text-color);
    text-align: center;        
}

body{
    min-block-size: 100vh;
    min-block-size: 100dvh;
    background-color: var(--base-color);    
}

button{
    font:inherit;
    color: inherit;    
    border: none;
    background-color: var(--accent-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    box-sizing: border-box;
    background-color: var(--base-color);
    width: max(40%, 600px);
    padding: 10px;
    /* border-radius: 20px 20px 20px 20px;
    border: 3px  solid var(--text-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: min(400px,100%);
    margin-top: 20px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--default-color);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    border-radius: 10px 0 0 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;        
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;    
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease; 
}

form input:hover{
    border-color: var(--accent-color);

}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}

form button{
    margin-top: 10px;
    border-radius: 10px;
    padding: 0.85em 4em;
    font-weight: 600;
    font-size: 1.2rem;
}
form button:hover{
    background-color: var(--text-color);
}
form button:focus{
    outline: none;
    background-color: var(--text-color);
}

a{
    color: var(--accent-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

form div.incorrect label{
    background-color: var(--danger-color);
}
form div.incorrect input{
    border-color: var(--danger-color);
}

#error-message{
    color: var(--danger-color);
}

/* Grid Layout */
.grid-container {
    display: grid;
    width: 100vw;  
    height: 100vh;
    grid-template: auto 1fr auto/ auto 1fr; 
}

.main-page{
    display: grid;    
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'Asidebar Aheading'
        'Asidebar Amain-content'
        'Asidebar Afooter';
}

/* Heading */
.heading{
    grid-area: Aheading;
    background-color: var(--default-color);
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    color: var(--text-color);
}

/* Sidebar */
.sidebar{
    grid-area: Asidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;     
    background-color: var(--text-color);
}

.sidebar svg{
    fill: var(--default-color);
    width: 50px;
    height: 50px;
    /* cursor: pointer;
    transition: 150ms ease; */
}

.sidebar img{
    width: 96px;
    height: 60px;
}

.img-container{
    background-color: var(--default-color);
    padding: 15px;
    color: var(--base-color);
    display: block;
    font-size: var(--medium-font-size); 
}

.item{
    padding: 10px;
    color: var(--base-color);
    display: block;
    font-size: var(--medium-font-size);    
}

.item:hover{
    background-color: var(--base-color);
    color: var(--text-color);
}

.item.active{
    background-color: var(--base-color);
    color: var(--text-color);
}



/* Content */

/* Dashboard Content */
.main-content{
    display: grid;
    width: fit-content;
    height: fit-content;
    gap: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap; 
}

.content-container{  
    padding: 20px;
    background-color: var(--default-color);
}

.content-container h2{   
    color: var(--text-color);
}

.content-heading {
    display: flex;
    align-items: center ;   
}

.content-heading svg {
    color: var(--accent-color);
    width: 30px;
    height: 30px;
    margin-inline-end: 7px;
}

.content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    text-align: left;
    padding-block: 10px;
}

.content-2 {
    display: block;
    text-align: left;
    padding-block: 10px;
}

.content {
    
    fill: var(--accent-color);
    width: 30px;
    height: 30px;
    margin-inline-end: 7px;
}

/* Footer */
footer{
    grid-area: Afooter;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* ==== Payroll Page ==== */   
.payroll-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
        'announcement'
        'filter'
        'table';
    background: var(--default-color);
}


.payroll-content .announcement{
    grid-area: announcement;
    display: flex;
    background: var(--base-color);
    padding: 30px;
    padding-left: 50px;
    gap: 20px;
}

.payroll-content .announcement svg{
    fill: var(--accent-color);
    width: 50px;
    height: 50px;
    margin-top: var(--small-font-size);
    /* cursor: pointer;
    transition: 150ms ease; */
}
.payroll-content .announcement .info{
    display: block;
    text-align: left;
}

.payroll-content .announcement .info h3{
    padding-block-end: 6px;
}

.payroll-content .announcement .info p{
    padding-block-end: 12px;
}

.payroll-content .announcement .info button{
    border-radius: 10px;
    padding: 0.85em 4em;
    color: var(--default-color);
    font:inherit;
    font-weight: 600;
    font-size: 1.2rem;
}

.payroll-content .filter{    
    grid-area: filter;
    display: flex;
    justify-content: space-between;
    background: var(--default-color);
    padding: 20px;
    padding-inline-start: 200px;
}

.payroll-content .filter button{    
    border: 2px solid var(--text-color);
    background: var(--default-color);
    padding: 10px 20px;
    cursor: pointer;
    transition: 150ms ease;
}   

.payroll-content .filter .container{
    display: flex;
    gap: 20px;    
}

.payroll-content .filter .border{
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding-inline: 12px;
    display: flex;
    align-items: center;    
}

.payroll-content .filter select{
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 150ms ease;
}

.payroll-content .table{
    grid-area: table;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background: var(--default-color);
    padding: 20px;
    text-align: left;
}

.payroll-content .table button{
    border: 2px solid var(--text-color);
    background: var(--default-color);
    padding: .25em 1em;
}