@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset margins and paddings for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --default-color: #00000038;     /* Default color for borders and dividers */
    --white-color:white;            /* White for default backgrounds */
    --light-color:#eef4f4;          /* Softer light gray with a hint of blue for backgrounds */ 
    --dark-color:#003049;           /* Deep navy blue for body text to improve readability */

    /* --primary: */
    /* --secondary: */

    --accent-1-color: #fd6d45;        /* Warm coral for vibrant accents */
    --accent-1-light-color: #ffebe6; /* Light coral for softer accents */ 

    --accent2: #00bfa6;             /* Fresh teal for cool, standout accents */
    --accent3: #ffc107;             /* Bright amber yellow for energetic accents */

    --info-color: #17a2b8;               /* Calm blue-green for info elements */
    --danger-color: #dc3545;             /* Strong red for error and danger alerts */
    --success-color: #28a745;            /* Standard green for success messages */
    --warning-color: #ffc107;            /* Amber-yellow for warnings */   

    --small-font-size: 0.8rem;
    --medium-font-size: 1.2rem;
    --large-font-size: 1.6rem;
}

html{
    font-family: Roboto Bold, Open Sans, Lato, Poppins;
    font-size: 12px;
    color: var(--dark-color);
    text-align: center;        
}

body{
    min-block-size: 100vh;
    min-block-size: 100dvh;
    background-color: var(--light-color);    
}

button{
    font:inherit;
    color: inherit;    
    border: none;
    background-color: var(--accent-1-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
    text-wrap: nowrap;
}

.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    box-sizing: border-box;
    background-color: var(--light-color);
    width: max(40%, 600px);
    padding: 10px;
    /* border-radius: 20px 20px 20px 20px;
    border: 3px  solid var(--dark-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: min(400px,100%);
    margin-top: 20px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-1-color);
    fill: var(--white-color);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark-color);
    border-radius: 10px 0 0 10px;  
    display: flex;
    align-items: center;
    justify-content: center;     
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;    
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--accent-1-light-color);
    border-left: none;
    background-color: var(--accent-1-light-color);
    transition: 150ms ease; 
}

form input:hover{
    border-color: var(--accent-1-color);

}
form input:focus{
    outline: none;
    border-color: var(--dark-color);
}
div:has(input:focus) > label{
    background-color: var(--dark-color);
}
form input::placeholder{
    color: var(--dark-color);
}

form button{
    margin-top: 10px;
    border-radius: 10px;
    padding: 0.85em 4em;
    font-weight: 600;
    font-size: 1.2rem;
}
form button:hover{
    background-color: var(--dark-color);
}
form button:focus{
    outline: none;
    background-color: var(--dark-color);
}

a{
    color: var(--accent-1-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

form div.incorrect label{
    background-color: var(--danger-color);
}
form div.incorrect input{
    border-color: var(--danger-color);
}

#error-message{
    color: var(--danger-color);
}

/* Grid Layout */
.grid-container {
    display: grid;
    width: 100vw;  
    height: 100vh;
    grid-template: auto 1fr auto/ auto 1fr; 
}

.main-page{
    display: grid;    
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'Asidebar heading'
        'Asidebar Amain-content'
        'Asidebar Afooter';
}

/* Heading */
.heading{
    grid-area: heading;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    color: var(--dark-color);
}

/* Sidebar */
.sidebar{
    grid-area: Asidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;     
    background-color: var(--dark-color);
}

.sidebar svg{
    fill: var(--white-color);
    width: 50px;
    height: 50px;
    /* cursor: pointer;
    transition: 150ms ease; */
}

.sidebar img{
    width: 96px;
    height: 60px;
}

.img-container{
    background-color: var(--white-color);
    padding: 15px;
    color: var(--light-color);
    display: block;
    font-size: var(--medium-font-size); 
}

.item{
    padding: 10px;
    color: var(--light-color);
    display: block;
    font-size: var(--medium-font-size);    
}

.item:hover{
    background-color: var(--light-color);
    color: var(--dark-color);
}

.item.active{
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* Content */
/* Dashboard Content */
.main-content{
    display: grid;
    width: fit-content;
    height: fit-content;
    gap: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap; 
}

.content-container{  
    padding: 20px;
    background-color: var(--white-color);
}

.content-container h2{   
    color: var(--dark-color);
}

.content-heading {
    display: flex;
    align-items: center ;   
}

.content-heading svg {
    color: var(--accent-1-color);
    width: 30px;
    height: 30px;
    margin-inline-end: 7px;
}

.content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    text-align: left;
    padding-block: 10px;
}

.content-2 {
    display: block;
    text-align: left;
    padding-block: 10px;
}

.content {
    
    fill: var(--accent-1-color);
    width: 30px;
    height: 30px;
    margin-inline-end: 7px;
}

/* Footer */
footer{
    grid-area: Afooter;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* ==== Payroll Page ==== */   
.payroll-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
        'announcement'
        'filter'
        'table';
    background: var(--white-color);
}


.payroll-content .announcement{
    grid-area: announcement;
    display: flex;
    background: var(--light-color);
    padding: 30px;
    padding-left: 50px;
    gap: 20px;
}

.payroll-content .announcement svg{
    fill: var(--accent-1-color);
    width: 50px;
    height: 50px;
    margin-top: var(--small-font-size);
    /* cursor: pointer;
    transition: 150ms ease; */
}
.payroll-content .announcement .info{
    display: block;
    text-align: left;
}

.payroll-content .announcement .info h3{
    padding-block-end: 6px;
}

.payroll-content .announcement .info p{
    padding-block-end: 12px;
}

.payroll-content .announcement .info button{
    border-radius: 10px;
    padding: 0.85em 4em;
    color: var(--white-color);
    font:inherit;
    font-weight: 600;
    font-size: 1.2rem;
}

.payroll-content .announcement .info button:hover{
    background-color: var(--dark-color);
}

.payroll-content .filter{    
    grid-area: filter;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--white-color);
    padding: 20px;
    gap: 20px;
    padding-inline-start: 200px;
}

.payroll-content .filter button{    
    border: 2px solid var(--dark-color);
    background: var(--white-color);
    padding: 10px 20px;
    cursor: pointer;
    transition: 150ms ease;
}

.payroll-content .filter .container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
}

.payroll-content .filter .border{
    border: 1px solid var(--accent-1-color);
    border-radius: 10px;
    padding-inline: 12px;
    display: flex;
    align-items: center;    
}

.payroll-content .filter select{
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 150ms ease;
}

.payroll-content .table{
    grid-area: table;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background: var(--white-color);
    padding: 20px;
    text-align: left;
}

.payroll-content .table button{
    border: 2px solid var(--dark-color);
    background: var(--white-color);
    padding: .25em 1em;
}

/* ==== Run Payroll Page ==== */
.run-payroll-page{
    display: grid;    
    grid-template-columns: .25fr 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 
        'header header'
        'aside heading'
        'aside run-payroll'
        'aside nav'
        'footer footer'; 
    background-color: var(--white-color);
}

.run-payroll-page header{
    grid-area: header;
    padding: 3em;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--default-color);        
}

.run-payroll-page header .title {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.run-payroll-page header .title svg{
    color: var(--default-color);
    width: 2em;
    height: 2em;    
    border: 1px solid var(--default-color);
    cursor: pointer;
    transition: 150ms ease;
}

.run-payroll-page header .title svg:hover{
    color: var(--accent-1-color);
    border: 1px solid var(--accent-1-color);
}

.pay-period{
    display: flex;
    align-items: center;
    padding-block: 3px;
    padding-inline-start: 20px;
    border-inline-start: 1px solid var(--default-color);
}

.pay-period label{
    display: flex;
    text-align: left;
    color: var(--dark-color);
    margin-inline-end: 5px;
}

.pay-period label svg{    
    width: 1.25em;
    height: 1.25em;
    margin-inline-end: 7px;
}

.run-payroll-page .heading{
    grid-area: heading;
    display: flex;
    justify-content: space-between;
}

.run-payroll-page .heading h4{
    color: var(--default-color);
}

.run-payroll-page .heading svg{
    color: var(--default-color);
    width: 2em;
    height: 2em;
    margin-inline: .75em;
    margin-top: .5em;
    cursor: pointer;
    transition: 150ms ease;
}

.run-payroll-page .heading .search-bar{
    display: flex;
    align-items: center;
    border: 1px solid var(--default-color);
}

.run-payroll-page .heading .search-bar input{
    border: none;
}

.run-payroll-page .heading .search-bar input::placeholder{
    color: var(--default-color);
    font-weight:bold
}

.run-payroll-page .heading .search-bar input:focus{
    outline: none;
}

div:has(input:focus) > .search-bar label{
    background-color: var(--white-color);
}

.run-payroll-page .heading .search-bar label::after{
    color: var(--default-color);
}

[run-payroll-heading] {
    display: none;
}
.active[run-payroll-heading]{
    display: block;
}

.run-payroll-page aside{
    grid-area: aside;
    border-inline: 1px solid var(--default-color);
    padding: 2em;
}

.run-payroll-page .aside svg{
    fill: var(--default-color);
    width: 3em;
    height: 3em;
}

.run-payroll-page .aside .highlight {
    font-weight: bold;
}

.run-payroll-page .aside .highlight svg{
    fill: var(--accent-1-color);
    filter: drop-shadow(0 0 10px var(--accent-1-color));
}

.run-payroll-page .stages{
    display: flex;
    gap: .75em;    
}

.run-payroll-page .stages p{
    padding-block: .75em;
    text-wrap: nowrap;
}

.stages-description{
    margin-left: 1.25em;
    min-height: 1.5em;
    height: fit-content;
    text-wrap: wrap;
    text-align: left;
    padding-inline-start: 1.75em;
    border-inline-start: .25em dotted var(--default-color);
}

#stage-5{
    border: none;
}

[run-payroll-stage-description] p{
    display: none;
}
.active[run-payroll-stage-description] p{
    display: block;        
}

.active[run-payroll-stage-description] {
    border-inline-start: .25em dotted var(--accent-1-color);
    height: 3em;
}

.run-payroll{
    display: grid;
    grid-area: run-payroll;
}

.run-payroll-page table{
    height: 100%; 
    width: 100%;   
    border-block: 1px solid var(--default-color);
}

[run-payroll-content] {
    display: none;
}
.active[run-payroll-content]{
    display: block;
}

.run-payroll-page .nav{
    grid-area: nav;
    padding: 2em;
    display: flex;
    justify-content:space-between
}

.run-payroll-page .nav a{
    color: var(--dark-color);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}

.run-payroll-page .nav button{
    border: 2px solid var(--dark-color);
    background: var(--white-color);
    padding: 10px 20px;
    margin-inline: 10px;    
    cursor: pointer;
    transition: 150ms ease;
}

.run-payroll-page .nav .buttons{
    display: flex;       
}

.run-payroll-page .nav .buttons .next{
    border: none;
    background-color: var(--accent-1-color);
    color: var(--white-color);
}

.run-payroll-page .nav .buttons button:hover{
    background-color: var(--dark-color);
    color: var(--white-color);
}

[run-payroll-nav] {
    display: none;
}
.active[run-payroll-nav]{
    display: flex;
}

.run-payroll-page footer{
    grid-area: footer;
    border: 1px solid var(--default-color);
}

